@charset "UTF-8";
html,body { height: 100% }
body {
  min-width: 1320px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #555555;
}

ul,ol{list-style: none;}
a{color: #666666;}
h1,h2,h3,h4,h5,h6 { line-height: 1;}


#header-wrap {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;
  background-color: rgba(7, 30, 72, .2);
  z-index: 300;
}


#header {
  width: 1320px;
  margin: 0 auto;
  padding: 20px 25px;
  overflow: hidden;
  box-sizing: border-box;

}

#logo {
  float: left;
}
#header .inner { float: right; }
#header .inner #gnb, #header .inner #login-menu{ float: left; }

#header .inner ul{
  overflow: hidden;
}
#header .inner ul li{
  float: left;
  /* height: 20px; */
}
#header .inner ul li a {
  font-size: 14px;
  line-height: 74px;
  color: #fff;
}

#gnb {
  /* overflow: hidden; */
  margin-right: 93px;
}

#gnb > li {
  /* float: left; */
  /* height: 20px; */
  margin-left: 50px;
}

#gnb li a {
  /* font-size: 14px;
  line-height: 20px; */
}

#gnb >li:nth-child(1) {
  margin-left: 0;
}

#login-menu {
  /* overflow: hidden; */
}
#login-menu > li {
  /* float: left; */
  /* height: 20px; */
  margin-left: 30px;
}

#login-menu li a {
  /* font-size: 14px;
  line-height: 20px; */
}

#login-menu > li:nth-child(1){
  margin-left: 0;
}



#login-menu li a.cart span.count {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: white;
  margin-left: 5px;
  border-radius: 50%;
  background: #ffc01d;
}

#mainbanner {
  background-image: url('../img/banner/main_img01.png');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-color: #071e48;
}
#mainbanner .inner{
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
  /* background: red; */
}


#mainbanner .maintext {
  padding-top: 268px;
  text-align: center;
  /* background: yellow; */
}

#mainbanner .maintext p {
  font-size: 50px;
  color: #fff;
}

#mainbanner .maintext p.maintitle {
  line-height: 60px;
}

#mainbanner .maintext p.maintitle + .common-btn{
  margin-top:40px;
}

.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  background-color: #0055b8;
  font-size: 20px;
  color: #fff;
}


#container section .inner {
  width: 1320px;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  /* background: red; */
}

#container section:nth-of-type(even) {
  background: #eff6ff;
}

#container section:nth-of-type(1) .inner {
  padding-top: 165px;
  min-height: 485px;
}

#container section:nth-of-type(2) .inner {
  min-height: 506px;
}

#container section .inner h2 {
  font-size: 45px;
  line-height: 1;
  color: #333333;
}

#container section .inner h3 {
  font-size: 40px;
  line-height: 1;
  color: #333333;
}
#container section .inner .subtitle {
  margin-top: 22px;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}
#container section:nth-of-type(2) .inner .subtitle{
  color: #fff;
}

#container section .inner .box-wrap {
  overflow: hidden;
}

#container section .inner .box-wrap li {
  float: left;
  width: calc(25% - 40px);
  padding: 0 20px;
  text-align: center;
  /* background: yellow; */
}

#container section .inner .box-wrap li .items {
  border: 1px solid rgba(241, 245, 249, 1);
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: rgba(239, 246, 255, 1);
  padding: 47px 0 45px;
  min-height: 279px;
  box-sizing: border-box;
}

#container section .inner .box-wrap li .items h3 {
  font-size: 20px;
  color: #252525;
}
#container section .inner .box-wrap li .items p {
  margin-top: 32px;
  margin-bottom: 8px;
  line-height: 24px;
}
#container section .inner .box-wrap li:nth-of-type(3) .items p {
  margin-bottom: 32px;
}
#container section .inner .box-wrap li:nth-of-type(4) .items p {
  margin-bottom: 32px;
}
#container section .inner .box-wrap li .items p span{
  color: #3b82f6;
  font-weight: bold;
}
#container section .inner .box-wrap li:nth-of-type(3) .items p span{
  color: #f4a51d;
}
#container section .inner .box-wrap li:nth-of-type(4) .items p span{
  color: #f4a51d;
}

#container section .inner .box-wrap li .items p:nth-of-type(2) {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
}

#container section .inner .box-wrap li .items .img img{
  opacity: .5;
}

#container section:nth-of-type(2) {
  background-image: url('../img/section_1/bg_img04.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#container section:nth-of-type(2) .inner .box .text-box h2{
  color: #fff;
  margin-top: 30px;
}
#container section:nth-of-type(2) .inner .box .text-box h3{
  color: #fff;
  font-size: 28px;
  margin-bottom: 45px;
}

#container section .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
  text-align: center;
}

#container section:nth-of-type(3) .inner .box.img {
  background: url('../img/section_2/bg_img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container section:nth-of-type(4) {
  background-color: #f4f4f4;
  background-image: url('../img/section_4/bg_img.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc( 50% + 250px) center;
}
#container section:nth-of-type(4) .inner .box {
  text-align: left;
}

#container section:nth-of-type(4) .inner .box .text-box{
  /* padding-left: 50px; */
}

#container section:nth-of-type(5) .inner .box .text-box h2 {
  color: #fff;
}

/* ----------------------------------------------- */
 #container section:nth-of-type(5) .inner {
  width: 100%;
  min-height: 380px;
}
#container section:nth-of-type(5) .inner .box{
  width: 100%;
  min-height: 380px;
}

#container section:nth-of-type(5) {
  background-image: url('../img/section_5/bg_img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#container section:nth-of-type(5) .inner .box .text-box {
  text-align: center;
  margin-top: 89.5px;
  padding-left: 0;
}
#container section:nth-of-type(5) .inner .box .text-box img {
  margin: 0 0 50px;
}
/* ------------------------------------------- */
#container section .inner .box .text-box {
  display: inline-block;
  text-align: left;
  margin-top: 160.5px;
  padding-left: 140px;
}
#container section .inner .box .text-box h2{
  line-height: 60px;
}
#container section .inner .box .text-box a {
  text-align: center;
  margin-top: 35px;
}

#footer {
  background-color: #232323;
}

#footer .inner {
  position: relative;
  width: 1320px;
  height: 200px;
  padding: 50px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

#footer .inner .f-box {
  float: left;
  /* background: red; */
}

#footer .inner .f-box:nth-child(2) {
  padding-left: 75px;
  /* background: blue; */
}

#footer .inner .f-box ul {
  overflow: hidden;
}
#footer .inner .f-box ul li {
  height: 20px;
  float: left;
  margin-right: 40px;
}
#footer .inner .f-box ul li:last-child {
  margin-right: 0;
}
#footer .inner .f-box ul li a {
  color: #666666;
  line-height: 20px;
}

#footer .inner .f-box .tel{
  margin-top: 17px;
  line-height: 1;
  color: #666666;
  font-weight: bold;
}
#footer .inner .f-box .copyright {
  margin-top: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 45px;
  right: 20px;
  border: 3px solid #d1d1d1;
  border-image: linear-gradient(-35deg, #ffeb3b 40%, #b30535 70%);
  border-image-slice: 1;
  color: #333333;
  outline: none;
  appearance: none;
  -ms-appearance : none;
  -o-appearance : none;
  -moz-appearance : none;
  -webkit-appearance : none;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url('../img/footerlogo/select_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 15px ) center;
}

select::-ms-expand { display: none; }

#familysite:focus {
  border: 3px solid #999999;
  border-image: linear-gradient(-35deg, #ffeb3b 40%, #b30535 70%);
  border-image-slice: 1;
  background-image: url('../img/footerlogo/select_arrow_v.png');
}
